.mid-section{
    height: 585px;
   

}
.first::-webkit-scrollbar{
    display: none;
}

.first{
    height: 90%;
  
    overflow: auto;
}

.alert-primary,.alert-secondary,.alert-success{
width: 70%;
clear:both;
text-align: left;
}

.alert-secondary{
    float: right;
    text-align: right;
    
}

.alert-danger{
    margin: auto;
    margin-bottom: 20px;
    text-align: center;
}